root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 90
tab_width = 4
trim_trailing_whitespace = true

[*.json]
indent_size = 2
tab_width = 2

[.prettierrc]
indent_size = 2
tab_width = 2
